
		
<!DOCTYPE html>
<html lang='en'>
<head>
	<title>YIJC Listen 2024</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/styles.css">
	<link rel="icon" type="image/png" href="../static/Images/logo.png">

	<!--Main font(lora)-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
	
	<!--Secondary font()-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
	
	<!--Icons from boxicons-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<!--********************************************************************************************************************************************************************************************************-->
<!--********************************************************************************************************************************************************************************************************-->
<!--********************************************************************************************************************************************************************************************************-->
<!--********************************************************************************************************************************************************************************************************-->


<body>
	

	<!-- Sidebar with image -->
	<nav class="poster w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
		<div class="poster-img"></div>
	</nav>
	


	<!-- Page Content -->
	<div class="w3-main w3-padding-large" style="margin-left:40%">

		<!-- Menu icon to open sidebar -->
		<a href="../" class="w3-button w3-top w3-xxlarge  w3-hover-text-black" style="width:auto;right:0;"><i class='bx bx-arrow-back'></i></a>

		<!-- Header -->
		<header class="w3-container w3-center" style="padding:80px 16px 40px 16px" id="home">
			<h3 class="w3-main"><b>Your PIN Has Been Sent To Your Icons Account</b></h3>
			<form action="{{url_for('success')}}" method="POST">

				<div class="confirmation-form">
					<p class="signup2-labels">Shoutout to a friend (optional):</p>
					<select name="member" id="select-box">
						<option value="" selected="selected">Select members</option>
						{% for members in members %}
							{% if members == member %}
								<option value="{{members}} selected="selected>{{members}}</option>
							{% else %}
								<option value="{{members}}">{{members}}</option>
							{% endif %}
						{% endfor %}
					</select>
					<p class="signup2-labels" >Words of encouragement (optional)</p>
					<textarea class="signup2-details" id="message" name="message" placeholder="All the best!!!" ></textarea>
					
					<input type="hidden" value='{{email}}' name="email">
				</div>
				<br><br>
				<div id = "buttonContainer">
					<button id="PINbutton">Continue </button>
				</div>
			</form>
			<div class="flashes">
				{% for message in get_flashed_messages()%}
					{{ message }}
				{% endfor %}
			</div>
			<br><br><br>
			<img src='../static/Images/mc20.png' class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
			<img src='../static/Images/mc20.png' class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">
			
		</header>
</body>
	<script>
		let counter = 0;
		let isPageUnloading = false;
		const btn = document.getElementById("PINbutton");
		const container = document.getElementById("buttonContainer");

		const disable = () => {
			counter += 1;
			if (counter > 1){
				btn.style.cursor = "not-allowed";
				   btn.disabled = true;
				btn.innerText = "Submitting...";
				btn.style.backgroundColor = "#483d8b";
			}
			btn.style.cursor = "not-allowed";
			btn.innerText = "Submitting...";
			btn.style.backgroundColor = "#E6E6FA";
			isPageUnloading = true;
		}
		btn.addEventListener('click', disable);
	
		window.addEventListener('pageshow', function(event) {
			  if (event.persisted) {
				container.innerHTML = `
				<button class="buttonUpdateStatus" id="signup2-button" onclick="alertStatus()">Next</button>`
			  }
		});
	</script>
</html>
